html,body{
    height:100%;
}

body{
    display: flex;
    flex-direction:column;
    background-color: #EFD6AC;
}

/*.custom-select{*/
/*    width:auto;*/
/*}*/

.section__banner{
    background-color: #fafafa;
    border: solid 15px #fafafa;
    border-radius: 20px;
}

.section__heading--pink{
    color:#D33F49;
}

.section__heading--darkgreen{
    color:#262730;
}

.container--flex{
    flex:1 0 auto;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder{
    color:#212529;
}

.footer,
.navbar-expand-lg{
    flex-shrink:0;
}

.footer,
.navbar{
    background-color: #26100A;
    color:#fafafa;
}

.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.img-container{
    overflow: hidden;
    border: 5px solid #fafafa;
}

.list-group-item{
    border-color:transparent;
}