html,body{
    height:100%;
}

body{
    display: flex;
    flex-direction:column;
}

/*.custom-select{*/
/*    width:auto;*/
/*}*/

.container--flex{
    flex:1 0 auto;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder{
    color:#212529;
}

.footer,
.navbar-expand-lg{
    flex-shrink:0;
}

.navbar-brand{
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.img-container{
    overflow: hidden;
}

.list-group-item{
    border-color:transparent;
}