{% extends 'base.html'%} {% block content %}
<h2>Edit Recipe</h2>
{%if recipes_dict%}
<p>Recipes Dict</p>
{{recipes_dict}} 
{%else%}
<p>Recipe</p>
{{recipe}}
{%endif%}
{%if message%}
<div>
   <p class="text-danger">{{message}}</p>
   {%for key in keys_list%}
   <ul>
       <li>{{key}}</li>
   </ul>
   {%endfor%}
</div>
{%endif%}
<form action="{{url_for('update_recipe',recipe_id=recipe._id)}}" method="POST">
    <!--TITLE-->
    <div class="form-row">
        <div class="form-group col">
            <label for="title">Title</label>
            <input type="text" class="form-control" value="{{recipes_dict.title if ('title' in recipes_dict) else (recipe.title)}}" name="title" id="title" placeholder="Recipe Name" required>
        </div>
        <!--DIET-->
        <div class="form-group col">
            <label for="diet">Diet</label>
            <select class="form-control custom-select" name="diet" id="diet">
                {% for diet in _diet %}
                    {% if 'diet' in recipes_dict %}
                    <option {{'selected' if (recipes_dict['diet']==diet.diet_name)}}>{{diet.diet_name}}</option>
                    {% else %}
                    <option {{'selected' if (diet.diet_name==recipe.diet)}}>{{diet.diet_name}}</option>
                    {%endif%}
                {% endfor %}
            </select>
        </div>
        <!--CUISINE-->
        <div class="form-group col">
            <label for="cuisine">Cuisine</label>
            <select class="form-control custom-select" name="cuisine" id="cuisine">
                {%for cuisine in _cuisine %}
                {% if 'cuisine' in recipes_dict %}
                <option {{'selected' if (recipes_dict['cuisine']==cuisine.cuisine_name)}} >{{cuisine.cuisine_name}}</option>
                {%else%}
                <option {{'selected' if (recipe.cuisine==cuisine.cuisine_name)}}>{{cuisine.cuisine_name}}</option>
                {%endif%}
                {% endfor %}
            </select>
        </div>
    </div>
    <!--ALLERGENS SECTION-->
    <div class="form-group">
        <h4 class="mt-2">Allergens <span class="text-muted"><small>(check all that apply)</small></span></h4>
        {% for allergen in _allergens %}
        <div class="form-check form-check-inline">
            {%if 'allergens' in recipes_dict%}
            <input class="form-check-input" type="checkbox" name="allergens[]" value="{{allergen.allergen_type}}" {{"checked" if allergen.allergen_type in recipes_dict['allergens']}}>
            <label class="form-check-label" for="allergens">{{allergen.allergen_type}}</label>
            {%else%}
            <input class="form-check-input" type="checkbox" name="allergens[]" value="{{allergen.allergen_type}}" {{"checked" if allergen.allergen_type in recipe['allergens']}}>
            <label class="form-check-label" for="allergens">{{allergen.allergen_type}}</label>
            {%endif%}
        </div>
        {% endfor %}
    </div>
    <!--SHORT DESCRIPTION-->
    <div class="form-group">
        {%if 'description' in recipes_dict%}
        <label for="description">Description</label>
        <textarea class="form-control" name="description" placeholder="Add a short description(max 50 characters)" maxlength=50 rows="2">{{recipes_dict['description'] if 'description' in recipes_dict}}</textarea>
        {%else%}
        <label for="description">Description</label>
        <textarea class="form-control" name="description" placeholder="Add a short description(max 50 characters)" maxlength=50 rows="2">{{recipe.description if ('description' in recipe)}}</textarea>
        {%endif%}
    </div>
    <!--INGREDIENTS SECTION-->
    {% for i in range(ingredient_length) %}
    <div class="row form-group">
        <div class="col">
            {%if 'ingredients' in recipes_dict %}
                <label for="ingredient-name">Ingredient</label>
                <input type="text" class="form-control" value="{{recipes_dict['ingredients'][i]['name'] if recipes_dict['ingredients'][i]}}" name="ingredient-name[]" placeholder="Ingredient Name">    
            {%elif 'ingredients' in recipe  %}
                <label for="ingredient-name">Ingredient</label>
                <input type="text" class="form-control" value="{{recipe['ingredients'][i]['name'] if recipe['ingredients'][i] }}" name="ingredient-name[]" placeholder="Ingredient Name">
            {%endif%}
        </div>
        <div class="col">
            {%if 'ingredients' in recipes_dict %}
                <label for="ingredient-quantity">Quantity</label>
                <input type="number" step="0.01" class="form-control" value="{{recipes_dict['ingredients'][i]['qty'] if (recipes_dict['ingredients'][i])}}" name="ingredient-qty[]" placeholder="Qty">
            {%elif 'ingredients' in recipe  %}
                <label for="ingredient-quantity">Quantity</label>
                <input type="number" step="0.01" class="form-control" value="{{recipe['ingredients'][i]['qty'] if (recipe['ingredients'][i])}}" name="ingredient-qty[]" placeholder="Qty">
            {%endif%}
        </div>
        <div class="col">
            <label for="ingredient-unit">Units</label>
            <select class="form-control custom-select" title="ingredient-unit" name="ingredient-units[]">
                {% for unit in units %}
                    {% if 'ingredients' in recipes_dict %}
                        <option {{'selected' if (recipes_dict['ingredients'][i]) and (recipes_dict['ingredients'][i]['units']==unit.unit_name)}}>{{unit.unit_name}}</option>
                    {% elif 'ingredients' in recipe %}
                        <option {{'selected' if (recipe['ingredients'][i]) and (recipe['ingredients'][i]['units'] == unit.unit_name)}}>{{unit.unit_name}}</option>
                    {%endif%}
                {% endfor %}
            </select>
        </div>
    </div>
    {%endfor%}
    <button type="submit" class="btn btn-primary" name="submit" value="add_ingredient">Add Ingredient</button>
    <button type="submit" class="btn btn-primary" name="submit" value="delete_ingredient">Delete Ingredient</button>
    <!--STEPS-->
    <h4 class="mt-2">Steps</h4>
    {% for i in range(steps_length)%}
    <div class="form-group">
        {%if 'steps' in recipes_dict%}
            <label for="step">Step {{i+1}}</label>
            <textarea class="form-control" name="steps" rows="1">{{recipes_dict['steps'][i] if recipes_dict['steps'][i]}}</textarea>
        {%elif 'steps' in recipe %}
            <label for="step">Step {{i+1}}</label>
            <textarea class="form-control" name="steps" rows="1">{{recipe['steps'][i] if recipe['steps'][i]}}</textarea>
        {%endif%}
    </div>
    {%endfor%}
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="submit" value="add_step">Add Step</button>
        <button type="submit" class="btn btn-primary" name="submit" value="delete_step">Delete Step</button>
    </div>
    <div class="row form-group">
        <div class="col">
            <label for="image">Image <span class="text-muted"><small>(insert a valid link)</small></span></label>
            <input type="url" class="form-control" value="{{recipes_dict['image'] if 'image' in recipes_dict else recipe.image}}" name="image">
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>

</form>
{% endblock %}
{{recipes_dict}}