{% extends 'base.html'%} {% block content %}
<section class="section__banner mt-5">
<div class="row">
    <div class="col-sm-12 col-md-8">
        <img class="img-fluid" alt="Tasty Food" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1024px-Good_Food_Display_-_NCI_Visuals_Online.jpg"></img>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3 class="section__heading--pink">Welcome</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam error ea culpa, iure accusantium neque magni animi sint, corporis, eveniet, quidem laudantium odit possimus. Laudantium.</p>
    </div>
</div>
</section>
<section class="mt-5">
<h3 class="section__heading--darkgreen">Latest Recipes</h3>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-6 col-lg-3">
        <a class="text-reset" href="{{url_for('view_recipe',recipe_id=recipe._id)}}">
            <div class="img-container" style="background-image: url({{recipe['image']}}); background-size: cover; padding-top: 60%;"> </div>
        <h5>{{recipe['title']}}</h5>
       {{recipe._id.generation_time}}
        </a>
    </div>    
    {%endfor%}
</div>
</section>
{% endblock %}
