{% extends 'base.html'%} {% block content %}
<!--------------------------------------------------------------------Banner-->
<section class="section__banner mt-5">
<div class="row">
    <div class="col-sm-12 col-md-8">
        <img class="img-fluid" alt="Tasty Food" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1024px-Good_Food_Display_-_NCI_Visuals_Online.jpg"></img>
    </div>
    <div class="col-sm-12 col-md-4">
        <h3 class="section__heading--pink">Welcome</h3>
        <p> This is a website for people passionate about food and cooking. You can browse and navigate through recipes and even have your own cook book, where you can add, store, edit and view your favourite recipes. Have Fun!</p>
    </div>
</div>
</section>
<!-------------------------------------------------------------Latest Recipes-->
<section class="mt-5">
<h3 class="section__heading--darkgreen text-center">Latest Recipes</h3>
<div class="row">
    {% for recipe in recipes %}
    <div class="col-md-6 col-lg-3">
        <a class="text-reset" href="{{url_for('view_recipe',recipe_id=recipe._id)}}">
            <div class="img-container" style="background-image: url({{recipe['image']}}); background-size: cover; padding-top: 60%;"> </div>
        <h6 class="recipe-card text-truncate">{{recipe['title']}}</h6>
       <!--{{recipe._id.generation_time}}-->
        </a>
    </div>    
    {%endfor%}
</div>
</section>
{% endblock %}
