{%extends 'base.html'%}{%block content%}
<h2 class="text-center">My Recipes</h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
     <div class="alert alert-success alert-dismissible fade show" role="alert">
          <span><i class="fas fa-check mr-2"></i><strong>{{message}}</strong></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<p>Total Recipes: {{total_recipes}}</p>
<div class="row mt-4">
    {% for recipe in recipes %}
        {% if loop.index0 < page_size %}
    <div class="col-md-6 col-lg-3 mt-5">
        <span class="recipe-tab">{{recipe._id.generation_time.strftime("%d %b %Y, %H:%M")}}</span>
        <a class="text-reset" href="{{url_for('view_recipe',recipe_id=recipe._id)}}">
            <div class="img-container" style="background-image: url({{recipe['image']}}); background-size: cover; padding-top: 60%;"> </div>
            <h6 class="recipe-card text-truncate">{{recipe['title']}}</h6>
        </a>
       <div class="row">
           <div class="col-6">
            <a class="btn btn-primary btn-sm btn-sm__edit w-100 font-075" href="{{url_for('edit_recipe',recipe_id=recipe._id)}}"><i class="fas fa-pen mr-1"></i>Edit</a>
            </div>
            <div class="col-6">
            <a class="btn btn-outline-dark btn-sm w-100 font-075" href="{{url_for('delete_recipe',recipe_id=recipe._id)}}"><i class="fas fa-trash-alt mr-1"></i>Delete</a>
           </div>
       </div>
    </div>
        {%endif%}
    {%endfor%}
</div>
<div class="row mt-5">
    {% if page >1 %}
    <div class="col clearfix">
        <form action="{{url_for('my_recipes',page=page-1)}}" method="GET">
            <div class="col float-left">
                <button type="submit" class="btn btn-primary" name="submit" value="previous-page">Previous Page</button>
            </div>
        </form>
    </div>
    {% endif%}
   
    {% if recipes_length > page_size %}
    <div class="col float-right">
        <form action="{{url_for('my_recipes',page=page+1)}}" method="GET">
            <div class="col clearfix">
                <button type="submit" class="btn btn-primary float-right" name="submit" value="next-page">Next Page</button>
            </div>
        </form>
    </div>
    {%endif%}
</div>
<div class="col text-center mt-3 fw-600">
    Current Page: {{page}}
</div>

{%endblock%}
