{%extends 'base.html'%}{%block content%}
<h3 class="section__heading--darkgreen text-center mt-3">Recipes</h3>
<div class="mt-4">
    <p class="font-weight-bold">Total Recipes: {{recipes_count}}</p>
    <form action="{{url_for('recipes')}}" method="GET">
        <input type="hidden" name="keyword" value="{{keyword if keyword}}" />
        <div class="form-row">
            <div class="form-group col-12 col-md-4">
                <label for="browse">Select diet <span class="fw-600">OR</span> cuisine</label>
                <select class="form-control selectpicker" name="browse" id="browse">
                    <option disabled selected>Browse</option>
                    <optgroup label="Diet">
                        {% for diet in _diet %}
                        <option {{"selected" if ('browse' in filters) and (filters['browse'] == diet.diet_name)}}>{{diet.diet_name}}</option>
                        {% endfor %}
                        </optgroup>
                    <optgroup label="Cuisine">
                        {%for cuisine in _cuisine %}
                        <option {{"selected" if ('browse' in filters) and (filters['browse'] == cuisine.cuisine_name)}}>{{cuisine.cuisine_name}}</option>
                        {% endfor %}
                    </optgroup>
                    <optgroup label="Select All">
                         <option>All</option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group col-12 col-md-4 ">
                <label for="sort">Sort</label>
                <select class="selectpicker form-control" name="sort" id="sort">
                    <option {{"selected" if ('sort' in filters) and (filters['sort']=="Latest Entry First")}}>Latest Entry First</option>
                    <option {{"selected" if ('sort' in filters) and (filters['sort']=="Oldest Entry First")}}>Oldest Entry First</option>
                    <option {{"selected" if ('sort' in filters) and (filters['sort']=="Most viewed on top")}}>Most viewed on top</option>
                </select>
            </div>
            <div class="form-group col-12 col-md-4 ">
                <label for="exclude_allergy"><span class="fw-600">EXCLUDE </span> Allergens</label>
                <select class="selectpicker form-control" data-style="btn-light btn-new" name="exclude_allergy[]" multiple>
                    {%for allergen in _allergens%}
                    {%if allergen.allergen_type != "none"%}
                        <option {{"selected" if ('exclude' in filters) and (allergen.allergen_type in filters['exclude'])}}>{{allergen.allergen_type}}</option>
                    {%endif%}    
                    {%endfor%}
                </select>
            </div>
        </div>
        <div class="clearfix">
            <button type="submit" class="btn btn-primary float-right" name="submit">Apply</button>
        </div>
    </form>
</div>
<!------------------------------------------------MESSAGE if no recipes found-->
{%if message%}
     <div class="alert alert-danger mt-3" role="alert">
          <span><i class="fas fa-exclamation-triangle mr-2"></i><strong>{{message}}</strong></span>
    </div>
{%endif%}
<!--------------------------------------------------------------------RECIPES-->
<div class="row mt-4">
    {% for recipe in recipes %} {% if loop.index0 < page_size %} <div class="col-md-6 col-lg-3 mt-3">
        <span class="recipe-tab">{{recipe._id.generation_time.strftime("%d %b %Y, %H:%M")}}</span>
        <a class="text-reset" href="{{url_for('view_recipe',recipe_id=recipe._id)}}">
            <div class="img-container" style="background-image: url({{recipe['image']}}); background-size: cover; padding-top: 60%;"> </div>
            <h6 class="recipe-card text-truncate text-capitalize">{{recipe['title']}}</h6>
        </a>
</div>
{% endif %} {%endfor%}
</div>
<div class="row mt-5">
    {% if page >1 %}
    <div class="col">
        <form action="{{url_for('recipes',page=page-1)}}" method="GET">
            {%if keyword %}
            <input type="hidden" name="keyword" value="{{keyword}}" /> {%endif%} {%if 'browse' in filters%}
            <input type="hidden" value="{{filters['browse']}}" name="browse"> {%endif%} {%if 'sort' in filters%}
            <input type="hidden" value="{{filters['sort']}}" name="sort"> {%endif%}

            <div class="col clearfix">
                <button type="submit" class="btn btn-primary float-left" name="submit" value="previous-page">Previous Page</button>
            </div>
        </form>
    </div>
    {% endif%} 
    {% if recipes_length > page_size %}
    <div class="col">
        <form action="{{url_for('recipes',page=page+1)}}" method="GET">
            {%if keyword %}
            <input type="hidden" name="keyword" value="{{keyword}}" /> {%endif%} {%if 'browse' in filters%}
            <input type="hidden" value="{{filters['browse']}}" name="browse"> {%endif%} {%if 'sort' in filters%}
            <input type="hidden" value="{{filters['sort']}}" name="sort"> {%endif%}

            <div class="col clearfix">
                <button type="submit" class="btn btn-primary float-right" name="submit" value="next-page">Next Page</button>
            </div>
        </form>
    </div>
    {%endif%}
</div>
<div class="col text-center mt-3 fw-600">
    Current Page: {{page}}
</div>

{%endblock%}
