{%extends 'base.html'%}{%block content%}
<h2 class="text-center">Recipes</h2>
<p>Total Recipes: {{recipes_count}}</p>
<div class="row mt-5">
    <form action="{{url_for('recipes')}}" method="POST">
        <div class="row form-group">
            <div class="col">
                <select class="custom-select" name="browse">
                    <option disabled selected>Browse</option>
                    <option>All</option>
                    <optgroup label="Diet">
                            {% for diet in _diet %}
                            <option >{{diet.diet_name}}</option>
                            {% endfor %}
                        </optgroup>
                    <optgroup label="Cuisine">
                        {%for cuisine in _cuisine %}
                        <option>{{cuisine.cuisine_name}}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="col">
                <select class="custom-select" name="sort">
                    <option value="" disabled selected>Sort By</option>                 
                    <option>Latest Entry First</option>
                    <option>Oldest Entry First</option>
                    <option>Most viewed on top</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary" name="submit" value="submit">Apply</button>
            </div>
        </div>
    </form>
</div>

<div class="row mt-3">
    {% for recipe in recipes %}
    <div class="col-md-6 col-lg-3">

        <a class="text-reset" href="{{url_for('view_recipe',recipe_id=recipe._id)}}">
            <div class="img-container" style="background-image: url({{recipe['image']}}); background-size: cover; padding-top: 60%;"> </div>
            <h5>{{recipe['title']}}</h5>
            {{recipe._id.generation_time}}
        </a>

    </div>
    {%endfor%}
</div>
<div class="row mt-4">
    {% if page >1 %}
    <div class="col float-left">
        <a class="text-reset" href="{{url_for('recipes',page=page-1)}}">Previous Page</a>
    </div>
    {% endif%} 
    <div class="col">
        Current Page:{{page}}
    </div>
    <div class="col float-right">
        <a class="text-reset float-right" href="{{url_for('recipes',page=page+1)}}">Next Page</a>
    </div>
</div>
{%endblock%}
